<head>
    <style>
        h1 {text-align: center; color:brown;}
        h2 {text-align: center; color: brown}
        a {font-size: x-large; color:burlywood}
        li {color: antiquewhite;}
        ul {
            width: 75%;
            margin: auto; position: relative;
        }
        html, body {   
            top:0px;
            padding-top:0;
            margin:auto; position:relative;
            width:600px;
            height:100%;
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
    </style>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <body style="background-color:black"></body>
    <img class="center"  src="savage-supers-title.png">
    <title>Take Two - A Savage Supers Adventure!</title>
    <h1>Take Two - A Savage Supers Adventure!</h1>
    <h2>Join JetBlast, Knight, The Observer and The Revenant from their base of operations "The Second Chance".  Where these would be heroes embark on protecting the citizens of San Angeles as they plot revenge on those that killed The Revenant, and crippled Knight</h2>
    <table>
        <tr>
            <td><a href="https://svgd.us/jetblast"><img height="200" src="jetblast.webp"></a></td>
            <td><a href="https://svgd.us/knight"><img height="200" src="knight.webp"></a></td>
            <td><a href="https://svgd.us/observer"><img height="200" src="observer.webp"></a></td>
            <td><a href="https://svgd.us/revenant"><img height="200" src="revenant.jpg"></a></td>
        </tr>
    </table>
    <ul>
        <li><a href="Jackercon - JoeGun - savagesupers [598995410450907137].html">Savage Supers General Chat</a></li>
        <li><a href="Jackercon - JoeGun - session-links [641390435138535444].html">Session links</a></li>
        <li><a href="Jackercon - JoeGun - session-notes [609126434841034784].html">Session Notes</a></li>
        <li><a href="Jackercon - JoeGun - yacht-hq [609407712777994242].html">The Second Chance - HQ</a></li>
        <li><a href="corkboard.html">The Corkboard</a></li>
        <li><a href="Jackercon - JoeGun - feedback [609124088513822723].html">Feedback</a></li>
    </ul>
</body>
